<!DOCTYPE html>
<html>
<head>
    <title>Admin - All Bookings</title>
</head>
<body>
    <h2>All Bookings</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Flight</th>
            
            <th>Status</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.user.email }}</td>
            <td>{{ booking.flight.flight_name }}</td>
            <td>{{ booking.status }}</td>

            <td>
            {% if booking.status == "Active" %}
                    <a href="{{ url_for('admin.reject_booking', booking_id=booking.id) }}">Reject</a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>

        
        {% endfor %}
    </table>
</body>
</html>